"*":
  "atom-beautify":
    general:
      _analyticsUserId: "355d094d-13f2-4757-8711-cb1fd1b24767"
  "atom-clock":
    dateFormat: "hh:mm:ss a"
    refreshInterval: 1
  "atom-material-ui":
    colors:
      abaseColor: "#2196f3"
      genAccent: true
      paintCursor: true
      predefinedColor: "Blue"
    fonts: {}
    tabs:
      compactTabs: true
      noTabMinWidth: true
    treeView:
      compactList: true
    ui:
      panelShadows: true
  "atom-typescript": {}
  "autocomplete-modules": {}
  "autocomplete-plus":
    suppressActivationForEditorClasses: [
      "vim-mode-plus.insert-mode.replace"
      "vim-mode-plus.normal-mode"
      "vim-mode-plus.operator-pending-mode"
      "vim-mode-plus.visual-mode"
    ]
    useCoreMovementCommands: false
  "color-picker":
    abbreviateValues: true
  core:
    autoHideMenuBar: true
    customFileTypes:
      "source.ini": [
        ".flowconfig"
      ]
    disabledPackages: []
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "desktop.ini"
      ".venv"
    ]
    openEmptyEditorOnStart: false
    projectHome: "/home/jeremy/src/node"
    telemetryConsent: "no"
    themes: [
      "atom-material-ui"
      "atom-material-syntax-dark"
    ]
  "cursor-history":
    flashOnLand: true
  docblockr:
    auto_add_method_tag: true
    deep_indent: true
  editor:
    fontFamily: "Source Code Pro for Powerline"
    scrollPastEnd: true
  "exception-reporting":
    userId: "0e609a53-3d6f-b7e8-9c28-d81b14c383dc"
  "imdone-atom":
    openIn: {}
  jumpy:
    fontSize: 0.95
    matchPattern: "([A-EG-Z]+([0-9a-eg-z])*)|[a-egz0-9]{2,}"
  "language-babel":
    autoIndentJSX: true
    taggedTemplateGrammar: [
      "\"(?<=<style jsx>{)|(?<=<style jsx global>{)\":source.css.styled"
    ]
  "linter-eslint":
    fixOnSave: true
    lintHtmlFiles: true
  "linter-ui-default": {}
  minimap:
    plugins:
      codeglance: true
      codeglanceDecorationsZIndex: 0
      cursorline: true
      cursorlineDecorationsZIndex: 0
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      linter: true
      linterDecorationsZIndex: 0
      "minimap-hide": true
      "minimap-hideDecorationsZIndex": 0
      "minimap-quick-highlight": true
      "minimap-quick-highlightDecorationsZIndex": 0
      pigments: true
      pigmentsDecorationsZIndex: 0
      selection: true
      selectionDecorationsZIndex: 0
      "split-diff": true
      "split-diffDecorationsZIndex": 0
  "permanent-delete":
    confirmDelete: false
  "tool-bar":
    visible: false
  "tree-view":
    hideVcsIgnoredFiles: true
    showOnRightSide: false
  "vim-mode-plus":
    automaticallyEscapeInsertModeOnActivePaneItemChange: true
    clearHighlightSearchOnResetNormalMode: true
    clearMultipleCursorsOnEscapeInsertMode: true
    clearPersistentSelectionOnResetNormalMode: true
    flashOnMoveToOccurrence: true
    highlightSearch: true
    incrementalSearch: true
    keepColumnOnSelectTextObject: true
    showHoverSearchCounter: true
    stayOnDelete: true
    stayOnTransformString: true
    stayOnYank: true
  welcome:
    showOnStartup: false
