'body':
  'cmd-r': 'window:reload'
  'ctrl-tab': 'pane:show-next-item'
  'ctrl-shift-tab': 'pane:show-previous-item'
  'ctrl-alt-s': 'application:show-settings'
  'ctrl-alt-d': 'user:dismiss-notifications'

'.tree-view':
  'o': 'tree-view:open-selected-entry'
  'x': 'tree-view:cut'
  'y': 'tree-view:copy'
  'p': 'tree-view:paste'
  'd': 'user:tree-view-delete'

  'g g': 'core:move-to-top'

  'G': 'core:move-to-bottom'
  'H': 'tree-view:recursive-collapse-directory'
  'L': 'tree-view:recursive-expand-directory'
  'Y': 'tree-view:copy-full-path'

'atom-text-editor':
  # keymap gets overwritten by build, so i'm manually adding it here to enforce it
  'ctrl-alt-b': 'atom-beautify:beautify-editor'
  'alt-/': 'find-and-replace:show'

'atom-text-editor.mini':
  'ctrl-h': 'core:backspace'
  'ctrl-j': 'core:confirm'
  'ctrl-m': 'core:confirm'

'.select-list':
  'ctrl-j': 'core:confirm'
  'ctrl-m': 'core:confirm'
  'ctrl-c': 'core:cancel'
  'ctrl-n': 'core:move-down'
  'ctrl-p': 'core:move-up'

'atom-text-editor.mini.vim-mode-plus-search':
  'ctrl-j': 'core:confirm'
  'ctrl-m': 'core:confirm'
  'ctrl-c': 'core:cancel'
  'ctrl-n': 'core:move-down'
  'ctrl-p': 'core:move-up'

'atom-text-editor.vim-mode-plus.insert-mode.autocomplete-active':
  'ctrl-n': 'autocomplete-plus:move-down'
  'ctrl-p': 'autocomplete-plus:move-up'
  'ctrl-j': 'autocomplete-plus:confirm'
  'ctrl-m': 'autocomplete-plus:confirm'

'atom-text-editor.vim-mode-plus':
  'ctrl-i': 'cursor-history:next'
  'ctrl-o': 'cursor-history:prev'

'atom-text-editor.vim-mode-plus:not(.insert-mode):not(.jumpy-jump-mode)':
  'f': 'jumpy:toggle'

  'H': 'vim-mode-plus:move-to-beginning-of-line'
  'L': 'vim-mode-plus:move-to-last-character-of-line'

  'g c': 'vim-mode-plus:toggle-line-comments'
  'g t': 'tree-view:toggle'

  'space o': 'narrow:symbols'
  'space s': 'narrow:scan'
  'space c': 'narrow:linter'
  'space G': 'narrow:git-diff-all'

'atom-text-editor.vim-mode-plus.insert-mode':
  'j k': 'vim-mode-plus:activate-normal-mode'
  'ctrl-j': 'editor:newline'
  'ctrl-m': 'editor:newline'
  'ctrl-h': 'core:backspace'

'atom-text-editor.vim-mode-plus.visual-mode':
  ', s': 'vim-mode-plus:sort'
  ', S': 'vim-mode-plus:reverse'
  'ctrl-j': 'vim-mode-plus:create-persistent-selection'
  'ctrl-m': 'vim-mode-plus:create-persistent-selection'

'atom-text-editor.vim-mode-plus.normal-mode, atom-text-editor.vim-mode-plus.visual-mode':
  ', r': 'vim-mode-plus-user:replace-with-execution'
  ', R': 'vim-mode-plus-user:replace-with-execution-keep-original-text'

'atom-text-editor.vim-mode-plus.normal-mode:not(.jumpy-jump-mode)':
  'S': 'vim-mode-plus:surround-smart-word'

  'g f': 'open-this:here'
  'ctrl-w f': 'open-this:split-down'
  'ctrl-w F': 'open-this:split-right'

  'g d': 'symbols-view:go-to-declaration'

  'q': 'core:close'

  'o': 'editor:newline-below'
  'O': 'editor:newline-above'

  'U': 'vim-mode-plus:redo'

  'alt-h': 'window:focus-pane-on-left'
  'alt-j': 'window:focus-pane-below'
  'alt-k': 'window:focus-pane-above'
  'alt-l': 'window:focus-pane-on-right'

  'ctrl-w x': 'paner:swap-pane'
  'ctrl-w X': 'paner:send-item'

  'ctrl-w H': 'paner:very-left'
  'ctrl-w J': 'paner:very-bottom'
  'ctrl-w K': 'paner:very-top'
  'ctrl-w L': 'paner:very-right'

  '-': 'choose-pane:start'

'atom-text-editor.narrow.narrow-editor.vim-mode-plus.normal-mode[data-grammar="source narrow"]':
  'ctrl-j': 'core:confirm'
  'ctrl-m': 'core:confirm'

'atom-text-editor.vim-mode-plus.normal-mode:not(.jumpy-jump-mode)[data-grammar^="source c"]':
  'g d': 'autocomplete-clang:go-declaration'

'atom-text-editor.vim-mode-plus.normal-mode:not(.jumpy-jump-mode)[data-grammar^="source cpp"]':
  'g d': 'autocomplete-clang:go-declaration'

'atom-text-editor.vim-mode-plus.normal-mode:not(.jumpy-jump-mode)[data-grammar^="source python"]':
  'g d': 'autocomplete-python:go-to-definition'
  'g D': 'python-tools:goto-definition'
  ', u': 'python-tools:show-usages'

'atom-text-editor.vim-mode-plus.normal-mode:not(.jumpy-jump-mode)[data-grammar^="source ts"]':
  'alt-a': 'typescript:quick-fix'
  'g d': 'typescript:go-to-declaration'
  'g D': 'typescript:return-from-declaration'
