'body':
  'cmd-r': 'window:reload'
  'ctrl-tab': 'pane:show-next-item'
  'ctrl-shift-tab': 'pane:show-previous-item'

'atom-text-editor.mini':
  'ctrl-h': 'core:backspace'
  'ctrl-j': 'core:confirm'
  'ctrl-m': 'core:confirm'

'.nuclide-file-tree':
  '-': 'choose-pane:start'

  'h': 'nuclide-file-tree:collapse-directory'
  'j': 'core:move-down'
  'k': 'core:move-up'
  'l': 'nuclide-file-tree:expand-directory'

  'g g': 'core:move-to-top'
  'G': 'core:move-to-bottom'

  'H': 'nuclide-file-tree:recursive-collapse-directory'
  'L': 'nuclide-file-tree:recursive-expand-directory'

  'x': 'nuclide-file-tree:remove'
  'o': 'nuclide-file-tree:open-selected-entry'
  'ctrl-j': 'nuclide-file-tree:open-selected-entry'
  'ctrl-m': 'nuclide-file-tree:open-selected-entry'

'.select-list':
  'ctrl-j': 'core:confirm'
  'ctrl-m': 'core:confirm'
  'ctrl-c': 'core:cancel'
  'ctrl-n': 'core:move-down'
  'ctrl-p': 'core:move-up'

'atom-text-editor.vim-mode-plus-search.mini':
  'ctrl-j': 'core:confirm'
  'ctrl-m': 'core:confirm'
  'ctrl-c': 'core:cancel'
  'ctrl-n': 'core:move-down'
  'ctrl-p': 'core:move-up'

'atom-text-editor.vim-mode-plus.insert-mode.autocomplete-active':
  'ctrl-n': 'autocomplete-plus:move-down'
  'ctrl-p': 'autocomplete-plus:move-up'
  'ctrl-j': 'autocomplete-plus:confirm'
  'ctrl-m': 'autocomplete-plus:confirm'

'atom-text-editor.vim-mode-plus:not(insert-mode):not(.jumpy-jump-mode)':
  ', w': 'jumpy:toggle'

'atom-text-editor.vim-mode-plus:not(.insert-mode)':
  '0': 'unset!'
  '$': 'unset!'

  'H': 'vim-mode-plus:move-to-beginning-of-line'
  'L': 'vim-mode-plus:move-to-last-character-of-line'

  'space o': 'narrow:symbols'
  'space s': 'narrow:scan'
  'space C': 'narrow:linter'
  'space G': 'narrow:git-diff-all'

'atom-text-editor.vim-mode-plus.insert-mode':
  'j k': 'vim-mode-plus:activate-normal-mode'
  'ctrl-j': 'editor:newline'
  'ctrl-m': 'editor:newline'
  'ctrl-h': 'core:backspace'

'atom-text-editor.vim-mode-plus.visual-mode':
  'ctrl-j': 'vim-mode-plus:create-persistent-selection'
  'ctrl-m': 'vim-mode-plus:create-persistent-selection'

'atom-text-editor.vim-mode-plus.normal-mode, atom-text-editor.vim-mode-plus.visual-mode':
  ', r': 'vim-mode-plus-user:replace-with-execution'
  ', R': 'vim-mode-plus-user:replace-with-execution-keep-original-text'

'atom-text-editor.vim-mode-plus.normal-mode':
  'ctrl-t': 'unset!'

  'S': 'vim-mode-plus:surround-smart-word'

  'g f': 'open-this:here'
  'ctrl-w f': 'open-this:split-down'
  'ctrl-w F': 'open-this:split-right'

  'g d': 'symbols-view:go-to-declaration'

  'q': 'core:close'

  'o': 'editor:newline-below'
  'O': 'editor:newline-above'

  'U': 'vim-mode-plus:redo'

  'alt-h': 'window:focus-pane-on-left'
  'alt-j': 'window:focus-pane-below'
  'alt-k': 'window:focus-pane-above'
  'alt-l': 'window:focus-pane-on-right'

  'ctrl-w x': 'paner:swap-pane'
  'ctrl-w X': 'paner:send-item'

  'ctrl-w H': 'paner:very-left'
  'ctrl-w J': 'paner:very-bottom'
  'ctrl-w K': 'paner:very-top'
  'ctrl-w L': 'paner:very-right'

  '-': 'choose-pane:start'

  'ctrl-i': 'cursor-history:next'
  'ctrl-o': 'cursor-history:prev'
