pkgbase = openshift-origin
	pkgdesc = OpenShift Origin is a platform for developing, building, and deploying containerized applications. See https://docs.openshift.org/latest for more on running OpenShift Origin.
	pkgver = 3.6.0
	pkgrel = 1
	url = https://github.com/openshift/origin
	arch = x86_64
	license = Apache
	depends = docker
	source = https://github.com/openshift/origin/releases/download/v3.6.0-alpha.1/openshift-origin-server-v3.6.0-alpha.1-46942ad-linux-64bit.tar.gz
	sha256sums = ac72399befd3a7f147d09d556853f6871a9a78bec0eb63f9a5e56fb01a094eb3

pkgname = openshift-origin

