snippet c "ES6 class"
class ${1:class_name} {$2
}
endsnippet

snippet flow "Flow comment"
/* @flow */
endsnippet

snippet eslintd "Adds an eslint-disable comment at the current line"
/* eslint-disable ${1:rule} */
endsnippet

