[alias]
  # my aliases
  a = add
  # same as above but with --all flag
  aa = add --all
  # add currently staged files to previous commit
  # please don't do this for commits already pushed to remote
  amend = commit --amend --no-edit
  b = branch
  # commit with single message
  # additional messages can be added using the -m flag
  c = commit --message
  ch = checkout
  # same as above, but add all files beforehand
  ca = !git aa && git c
  cp = cherry-pick
  d = diff
  dcom = diff-commit
  dc = diff --cached
  dt = difftool
  dp = d HEAD~1 HEAD~0
  l = log --color --graph --date=format:'%Y-%m-%d %H:%M:%S' --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ad) %C(bold blue)<%an>%Creset'
  lm = l main..HEAD
  lmf = lm --name-status
  ls = ls-files
  main = ch main
  p = push
  pu = pull
  r = remote
  rc = reset HEAD~1
  rb = rebase -i
  rbi = rebase --ignore-date
  rbc = !git aa && git rebase --continue
  s = status
  sw = ca 'save work' --no-verify

  update = !git fetch -f --all && git r prune origin && git pu
  u = update

  # some handy dandy aliases borrowed from Rob Miller (https://github.com/robmiller)
  # https://gist.github.com/robmiller/6018582
  branch-name = !git rev-parse --abbrev-ref HEAD
  pub = !git push -u origin $(git branch-name)
  unpub = !git push origin :$(git branch-name)
  unstage = reset HEAD

[color]
  ui = true

[commit]
	gpgsign = true

[core]
  editor = nvim
  excludesfile = ~/.gitignore-global
  pager = diff-so-fancy | less --tabs=4 -RFX
  sparsecheckout = true

[filter "lfs"]
  process = git-lfs filter-process
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  required = true

[gpg]
	format = ssh

[hub]
  protocol = ssh

[tar "xz"]
  command = xz -c

[url "git@github.com:"]
  insteadOf = gh:

[url "git@gitlab.com:"]
  insteadOf = gl:

[url "git@github.com:codemonkey800/"]
  insteadOf = gh:me/

[url "git@gitlab.com:codemonkey800/"]
  insteadOf = gl:me/

[url "ssh://aur@aur.archlinux.org/"]
  insteadOf = aur:

[user]
	email = jeremyasuncion808@gmail.com
  name = Jeremy Asuncion
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIAr5xGcZUnm371sT72acNK+2CtNRXYALA3XpkRgtxg6n

[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
	allowedSignersFile = /Users/jasuncion/.ssh/allowed_signers
